.long-press-menu
{
    background-color: #FAB773;
    border: thick groove white;
    position: fixed;
    top: 0;
    z-index: 10;
    display: flex;
    margin-top: 100px;
    margin-left: 25px;
    border-radius: 10px;
}
.long-press-menu div
{
    padding: 15px;
}
.create-menu {
    background-color: #FAB773;
    border: thick groove white;
    position: absolute;
    left: auto;
    right: 0px;
    top: 0;
    z-index: 10;
    display: flex;
    margin-top: 100px;
    margin-right: 25px;
    border-radius: 10px;
}
.create-menu div {
    padding: 15px;
}