@page "/athletics"
@inject NavigationManager NavigationManager;
<NavMenu Title="@Title"/>
<section>
	<div class="form-outer">
		<img src="img/logo-transparent.png" />
		<div style="margin-top:10%">
			<label>Donation Amount: </label>
			<input type="number" id="name"/>
		</div>
		<div style="margin-top:10%" class="form-floating">
			<textarea class="form-control" id="floatingTextarea" style="height: 200px;"></textarea>
			<label for="floatingTextarea">Leave a message here!</label>
		</div>
		<div style="margin-top:5%" class="col d-flex justify-content-center">
			<a href="/profile" class="btn my-4" style="margin-right:5%;margin-left:5%;background-color: #C64426; color: #FFD99C; border: none;">← Back</a>
			<button @onclick="Submit" class="btn my-4">Submit</button>
		</div>
		@if (!String.IsNullOrEmpty(resultMessage))
		{
			<div class="form-error-message">@resultMessage</div>
		}
	</div>
</section>
@code
{
	private double donation { get; set; } = 0;
	private string Title = "Donation";
	private string resultMessage;
	public async void Submit()
	{
		resultMessage = "Thank you for your feedback!"; 
		StateHasChanged();
		await Task.Delay(2500);
	}
}