@using ProjectPet.Data
@if (_modelReady)
{
    <div class="body-view" style="height: @(_height)vh;">
        <div class="control-bar">
            <button style="margin:5px;" @onclick="CloseCallback">
            <span class="fa fa-solid fa-x" aria-hidden="true"></span>
            </button>
        </div>
        <div class="post-view">
            <h1>@Loc.Name</h1>
            <h2>@Loc.Time</h2>
            <br/>
            <h4>@Loc.Desc</h4>
            <br/>
            @if (!signup)
            {
                <button class="post-view" @onclick="Signup">Foster!</button>
            }
            else
            {
                <button class="post-view" @onclick="Unsignup">Return from Foster!</button>
            }
        </div>
    </div>
}
@code
{
    [Parameter] public Pin Loc { get; set; }
    [Parameter] public Action CloseCallback { get; set; }
    private bool _modelReady { get; set; } = false;
    private int _height { get; set; } = 55;
    private string _iconName { get; set; } = "chevron-up-outline";
    public bool signup;
    protected override async Task OnInitializedAsync()
    {
        signup = false;
        _modelReady = true;
        StateHasChanged();
    }
    private async void Signup()
    {
        signup = true;
        StateHasChanged();
    }
    private async void Unsignup()
    {
        signup = false;
        StateHasChanged();
    }
}