@page "/foster"
<NavMenu Title="@Title" />
<section>
	<div class="card-container">
		<div class="card">
			<img src="img/stuart.png" alt="Stuart">
			<div class="card-info">
				<h2>Stuart</h2>
				<div class="row">
					<div class="col">
						<div class="card-stat">
							<h4><strong>Weight:</strong> 18 lb.</h4>
						</div>
						<div class="card-stat">
							<h4><strong>Height:</strong> 19 in.</h4>
						</div>
					</div>
					<div class="col">
						<div class="card-stat">
							<h4>
								<strong>Type:&nbsp;</strong>
								<span class="fa fa-solid fa-cat" aria-hidden="true"></span>
								Cat
							</h4>
						</div>
						<div class="card-stat">
							<h4><strong>Breed:</strong> Buff Tabby</h4>
						</div>
					</div>
				</div>
				<p>Stuart (Stu) is a five year-old buff tabby rescued from Pittie Party Rescue. He enjoys eating and rolling around in the dirt!</p>
			</div>
		</div>
		<div class="card">
			<img src="img/snowy.jpg" alt="Snowy">
			<div class="card-info">
				<h2>Snowy</h2>
				<div class="row">
					<div class="col">
						<div class="card-stat">
							<h4><strong>Weight:</strong> 23 lb.</h4>
						</div>
						<div class="card-stat">
							<h4><strong>Height:</strong> 20 in.</h4>
						</div>
					</div>
					<div class="col">
						<div class="card-stat">
							<h4>
								<strong>Type:&nbsp;</strong>
								<span class="fa fa-solid fa-dog" aria-hidden="true"></span>
								Dog
							</h4>
						</div>
						<div class="card-stat">
							<h4><strong>Breed:</strong> American Eskimo</h4>
						</div>
					</div>
				</div>
				<p>
					Snowy is an energetic American Eskimo who loves playing in the snow and taking naps. When he isn’t sleeping, he loves playing fetch and digging holes!
				</p>
			</div>
		</div>
		<div class="card">
			<img src="img/piggy.jpg" alt="Piggy" style="object-position: center 30%">
			<div class="card-info">
				<h2>Piggy</h2>
				<div class="row">
					<div class="col">
						<div class="card-stat">
							<h4><strong>Weight:</strong> 32 g.</h4>
						</div>
						<div class="card-stat">
							<h4><strong>Height:</strong> 5 in.</h4>
						</div>
					</div>
					<div class="col">
						<div class="card-stat">
							<h4>
								<strong>Type:&nbsp;</strong>
								<span class="fa fa-solid fa-crow" aria-hidden="true"></span>
								Cat
							</h4>
						</div>
						<div class="card-stat">
							<h4><strong>Breed:</strong> Green Budgie</h4>
						</div>
					</div>
				</div>
				<p>
					Piggy is a green budgie. He's rather dumb and can't fly very well but he's very sweet and never bites. His favorite trick is to spin around!
				</p>
			</div>
		</div>
		<div class="card">
			<img src="img/pennie.png" alt="Pennie">
			<div class="card-info">
				<h2>Pennie</h2>
				<div class="row">
					<div class="col">
						<div class="card-stat">
							<h4><strong>Weight:</strong> 7 lb.</h4>
						</div>
						<div class="card-stat">
							<h4><strong>Height:</strong> 15 in.</h4>
						</div>
					</div>
					<div class="col">
						<div class="card-stat">
							<h4>
								<strong>Type:&nbsp;</strong>
								<span class="fa fa-solid fa-cat" aria-hidden="true"></span>
								Cat
							</h4>
						</div>
						<div class="card-stat">
							<h4><strong>Breed:</strong> Domestic Shorthair</h4>
						</div>
					</div>
				</div>
				<p>
					Pennie is a petite rescued eight year-old black-and-white domestic shorthair. She enjoys watching birds and cuddling!
				</p>
			</div>
		</div>
		<div class="card">
			<img src="img/sofi.jpg" alt="Sofí">
			<div class="card-info">
				<h2>Sofí</h2>
				<div class="row">
					<div class="col">
						<div class="card-stat">
							<h4><strong>Weight:</strong> 23 lb.</h4>
						</div>
						<div class="card-stat">
							<h4><strong>Height:</strong> 18 in.</h4>
						</div>
					</div>
					<div class="col">
						<div class="card-stat">
							<h4>
								<strong>Type:&nbsp;</strong>
								<span class="fa fa-solid fa-dog" aria-hidden="true"></span>
								Dog
							</h4>
						</div>
						<div class="card-stat">
							<h4><strong>Breed:</strong> Maltese-Yorkie</h4>
						</div>
					</div>
				</div>
				Sofí is a nine year-old mixed Maltese-Yorkie who enjoys playing with balls, especially soccer with her academy-level brother. She loves eating Mexican food!
			</div>
		</div>
		<div class="card">
			<img src="img/michael.png" alt="Michael">
			<div class="card-info">
				<h2>Michael</h2>
				<div class="row">
					<div class="col">
						<div class="card-stat">
							<h4><strong>Weight:</strong> 18 lb.</h4>
						</div>
						<div class="card-stat">
							<h4><strong>Height:</strong> 12 in.</h4>
						</div>
					</div>
					<div class="col">
						<div class="card-stat">
							<h4>
								<strong>Type:&nbsp;</strong>
								<span class="fa fa-solid fa-cat" aria-hidden="true"></span>
								Cat
							</h4>
						</div>
						<div class="card-stat">
							<h4><strong>Breed:</strong> Brown Tabby</h4>
						</div>
					</div>
				</div>
				<p>
					Michael is a fostered two year-old brown tabby rescued off the streets of Rutgers University. He likes wrestling rugs and jumping on tables!
				</p>
			</div>
		</div>
		<div class="card">
			<img src="img/gucci.jpg" alt="Gucci" style="object-position: center 35%">
			<div class="card-info">
				<h2>Gucci</h2>
				<div class="row">
					<div class="col">
						<div class="card-stat">
							<h4><strong>Weight:</strong> 12 lb.</h4>
						</div>
						<div class="card-stat">
							<h4><strong>Height:</strong> 12 in.</h4>
						</div>
					</div>
					<div class="col">
						<div class="card-stat">
							<h4>
								<strong>Type:&nbsp;</strong>
								<span class="fa fa-solid fa-dog" aria-hidden="true"></span>
								Dog
							</h4>
						</div>
						<div class="card-stat">
							<h4><strong>Breed:</strong> Coton de Tuléar</h4>
						</div>
					</div>
				</div>
				<p>
					Gucci is a five year-old Coton de Tuléar who loves playing with socks and getting attention from his mom. He also enjoys listening to Drake and Playboi Carti with his brother!
				</p>
			</div>
		</div>
		<div class="card">
			<img src="img/mr-french.jpg" alt="Mr. French">
			<div class="card-info">
				<h2>Mr. French</h2>
				<div class="row">
					<div class="col">
						<div class="card-stat">
							<h4><strong>Weight:</strong> 25 lb.</h4>
						</div>
						<div class="card-stat">
							<h4><strong>Height:</strong> 12 in.</h4>
						</div>
					</div>
					<div class="col">
						<div class="card-stat">
							<h4>
								<strong>Type:&nbsp;</strong>
								<span class="fa fa-solid fa-dog" aria-hidden="true"></span>
								Dog
							</h4>
						</div>
						<div class="card-stat">
							<h4><strong>Breed:</strong> French Bulldog</h4>
						</div>
					</div>
				</div>
				<p>
					Mr. French is an 8 year-old french bulldog that enjoys treats, snoozing, and car rides. He also enjoys playing card games with the cats down the street!
				</p>
			</div>
		</div>
		<div class="card">
			<img src="img/puffy.jpg" alt="Puffy">
			<div class="card-info">
				<h2>Puffy</h2>
				<div class="row">
					<div class="col">
						<div class="card-stat">
							<h4><strong>Weight:</strong> 29 g.</h4>
						</div>
						<div class="card-stat">
							<h4><strong>Height:</strong> 4.5 in.</h4>
						</div>
					</div>
					<div class="col">
						<div class="card-stat">
							<h4>
								<strong>Type:&nbsp;</strong>
								<span class="fa fa-solid fa-crow" aria-hidden="true"></span>
								Bird
							</h4>
						</div>
						<div class="card-stat">
							<h4><strong>Breed:</strong> Blue Budgie</h4>
						</div>
					</div>
				</div>
				<p>Puffy is a blue budgie. He's much smarter than Piggy and will let him do the dirty work of doing tricks before swooping in and grabbing some treats. His favorite trick is a handshake!</p>
			</div>
		</div>
		<div class="card">
			<img src="img/poe.jpg" alt="Poe" style="object-position: right bottom">
			<div class="card-info">
				<h2>Poe</h2>
				<div class="row">
					<div class="col">
						<div class="card-stat">
							<h4><strong>Weight:</strong> 60 lb.</h4>
						</div>
						<div class="card-stat">
							<h4><strong>Height:</strong> 18 in.</h4>
						</div>
					</div>
					<div class="col">
						<div class="card-stat">
							<h4>
								<strong>Type:&nbsp;</strong>
								<span class="fa fa-solid fa-dog" aria-hidden="true"></span>
								Dog
							</h4>
						</div>
						<div class="card-stat">
							<h4><strong>Breed:</strong> Pitbull</h4>
						</div>
					</div>
				</div>
				<p>
					Poe is a autistic, deaf, tumorous, anxious, and silly pitbull rescued off the streets of Newark. He will eat nothing but Milk-Bones and is a freak of nature!
				</p>
			</div>
		</div>
	</div>

</section>
@code
{
	private string Title = "Foster/Adopt";
}