<div class="@NavMenuCssClass">
	<nav class="navbar navbar-dark">
		<div class="container-fluid" style="color:#FFD99C;">
			<a class="nav-item navbar-brand navbar-top" href="/home">
				<img src="img/logo-transparent.png" alt="PetPals" style="height:50px"/>
			</a>
			<h3>@Title</h3>
			<a class="nav-item navbar-toggler" href="profile" style="margin-left:10px;">
				<span class="oi oi-person"></span>
			</a>
		</div>
	</nav>
</div>
<div class="@NavMenuCssClass">
	<nav class="navbar navbar-dark fixed-bottom">
		<div class="container-fluid" style="max-width:800px;">
			<div class="nav-item">
				<NavLink class="nav-link" href="home" Match="NavLinkMatch.All">
					<span class="fa fa-solid fa-house" aria-hidden="true"></span>
				</NavLink>
			</div>
			<div class="nav-item">
				<NavLink class="nav-link" href="foster" Match="NavLinkMatch.All">
					<span class="fa fa-solid fa-paw" aria-hidden="true"></span>
				</NavLink>
			</div>
			<div class="nav-item">
				<NavLink class="nav-link" href="volunteer" Match="NavLinkMatch.All">
					<span class="fa fa-solid fa-calendar-days" aria-hidden="true"></span>
				</NavLink>
			</div>
			<div class="nav-item">
				<NavLink class="nav-link" href="donate" Match="NavLinkMatch.All">
					<span class="fa fa-solid fa-handshake-angle" aria-hidden="true"></span>
				</NavLink>
			</div>
			<div class="nav-item">
				<NavLink class="nav-link" href="search" Match="NavLinkMatch.All">
					<span class="fa fa-solid fa-map-pin" aria-hidden="true"></span>
				</NavLink>
			</div>
		</div>
	</nav>
</div>
@code
{
	private static bool collapseNavMenu = false;
	private static string NavMenuCssClass => collapseNavMenu ? "collapse" : null;
	[Parameter] public string Title { get; set; }
}